@import '../../../styles.scss';

.cards-container{
  margin: 140px 0 0 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

.card-container{
  display: flex;
  max-width: 80%;
  box-shadow: 1px 0px 7px rgba($color:$Grayish-Blue , $alpha: 0.3) ;
  border-radius: 20px;
  padding: 30px;
   align-items: center;
   margin-block: 25px;
    gap: 150px;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }


.card-info{
  margin-left: 100px;
  .card-title{
    @include font($fontWeight:700,$fontSize:25px);
    color:$Very-Dark-Cyan;
  }
  .card-description{
    @include font($fontWeight:400,$fontSize:18px);
    color:$Grayish-Blue;
  }

}
 .card-image{
  max-width:370px;
 }

}
.aske-card{
  padding-block: 70px;
  width: 600px;
  box-shadow: 1px 0px 7px rgba($color:$Grayish-Blue , $alpha: 0.3) ;
  border-radius: 10px;
  text-align: center;
  margin-top:100px;
  margin-bottom: -4;
  background-color: white;


  .aske-title{
    @include font($fontWeight:700,$fontSize:20px);
  }
  .aske-btn{
    @include font($fontWeight:500,$fontSize:18px);
  box-shadow: 1px 3px 7px rgba($color:$Grayish-Blue , $alpha: 0.8) ;

    padding: 15px 70px;
    border: none;
    border-radius: 40px;
    background-color: $Pink;
    color: white;

  }
}
}
@media only screen and (max-width:800px){
  .cards-container{
    margin-inline:20px ;
    margin-block: 40px 0 ;
  .card-container{
    flex-direction: column-reverse;
    gap: 40px;
    max-width: 100%;
    &:nth-child(2) {
      flex-direction: column-reverse;
    }
    .card-info{
      margin-left: 0;
      text-align: center;
    }
    .card-image{
      max-width:250px;
     }
  }
  .aske-card{
    width: 100%;
  }
}
}
