<section class="huddle-container">
  <div class="head">
  <img src="../../../assets/images/logo.svg" alt="" class="huddle-logo">
  <button class="btn-head">Try It Free </button>
</div>
<div class="huddle-info">
  <div class="info ">
  <h1 class="address">Build The Community <br>Your Fans Will Love</h1>
  <p class="text">Huddle re-imagines the way we build communities. You have <br> a voice, but so does your audience. Create connections with <br>your users as you engage in genuine discussion.</p>
<button class="btn-info">Get Started For Free </button>
</div>
  <img src="../../../assets/images/illustration-mockups.svg" alt="" class="mockups">
</div>
</section>
