 <footer>
  <div class="details">
  <img  class="logo" src="../../../assets/images/logo.svg">
    <div class="location way-connect ">
      <img src="../../../assets/images/icon-location.svg"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
    </div>
    <div class="phone  way-connect"><img src="../../../assets/images/icon-phone.svg"><p>+1-543-123-4567</p></div>
    <div class="email  way-connect"><img src="../../../assets/images/icon-email.svg"><p>example@huddle.com</p></div>

</div >
  <ul class="info-about-me">
    <li>About Us</li>
    <li>What We Do</li>
    <li>FAQ</li>
  </ul>
  <ul class="info-about-me">
    <li>Career</li>
    <li>Blog</li>
    <li>Contact Us</li>
  </ul>
<div class="icons">
  <div class="icons-link">
  <i class="fa-brands fa-facebook  "></i>
  <i class="fa-brands fa-twitter  "></i>
  <i class="fa-brands fa-instagram "></i>
</div>
<p class="copyright">© Copyright 2018 Huddle. All rights reserved</p>
</div>

 </footer>
