@import '../../../styles.scss';

footer{
  background-color: $Very-Dark-Cyan;
  display: flex;
  align-items: center;
  padding: 100px 20px;
  color:rgba($color:$Very-Pale-Cyan , $alpha: 0.8) ;
  margin-top: -50px;
  @include font($fontWeight:400,$fontSize:15px);

  .details{
    margin-right: 30px;
    .logo{
      filter: brightness(0) saturate(100%) invert(97%) sepia(86%) saturate(3937%) hue-rotate(177deg) brightness(104%) contrast(119%);

    }
    .way-connect{
      display: flex;
      gap:20px;
      margin: 35px;

      img{
        width: 20px;
        height: 20px;
      }
  }
  }
  .info-about-me{
    min-width: fit-content;
    padding-left: 0;
    margin: 0 30px;
    list-style-type: none;
    li{
      margin-block: 35px;
    }
  }

.icons{
  display: flex;
  flex-direction: column;
  margin-left: 60px;
 padding: 40px;
 gap: 200px;
  .icons-link{
    display: flex;
    gap:20px;


  }
.copyright{
  font-size: 13px;
}
}
}
@media only screen and (max-width:800px) {

  footer{
    flex-direction: column;
    align-items: flex-start;
    .icons{
     align-items: center;
     align-self: center;
      gap: 20px;
    }
  }
}
